// Header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 5px 10px;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: $success;

  @media screen and (min-width: 768px) {
    padding: 0 50px;
  }
}

.content-header {
  position: static;
}

.logo {
  a {
    display: block;
  }
}

.menu {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $success;
  transform: translateY(100%);
  text-align: center;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: max-height .3s;

  &.show {
    max-height: 500px;
    font-size: 16px;

    .menu__item {
      padding: 15px 0;
    }
  }

  @include media(">=tablet") {
    display: flex;
    width: auto;
    position: static;
    transform: none;
    max-height: inherit;
  }
}

.menu-open {
  position: relative;
  height: 30px;
  width: 30px;
  padding: 0;

  background: transparent;
  border: none;

  &.active {
    &:before {
      top: 14px;
      transform: translateX(-50%) rotate(45deg);
    }

    &:after {
      top: 14px;
      transform: translateX(-50%) rotate(-45deg);
    }

    span {
      opacity: 0;
      visibility: hidden;
    }
  }

  span,
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);

    background-color: $primary;
    border-radius: 4px;
    transition: transform .3s;
  }

  &:before {
    top: 8px;
  }

  &:after {
    top: 22px;
  }

  span {
    top: 50%;
    transform: translate(-50% -50%);
  }


  @include media(">=tablet") {
    display: none;
  }
}

.menu__item {
  text-transform: capitalize;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    padding: 15px 10px;
    color: $primary;
  }
}

.menu__link {
  color: inherit;
  transition: color .3s;
  display: block;

  &:hover,
  &:focus {
    color: $danger;
  }
}
