// Header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  position: relative;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #50e3c2;

  @media screen and (min-width: 768px) {
    padding: 0 50px;
  }
}

.content-header {
  position: static;
}

.logo {
  a {
    display: block;
  }
}

.menu {
  position: absolute;
  top: 73px;
  width: 100%;
  right: 100%;
  height: 100vh;
  text-align: center;
  background-color: #000;
  transition: right .3s;

  .menu-active & {
    opacity: .9;
    right: 0;
  }

  @media screen and (min-width: 768px) {
    position: static;
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
  }
}

.menu__item {
  padding: 15px 0;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    color: #434c6d;
    padding: 15px 10px;
  }
}

.menu__item_active {
  color: #FF0000;
}

.menu__link {
  color: inherit;
  transition: color .3s;
  display: block;

  &:hover,
  &:focus {
    color: #FF0000;
  }
}
// header menu button
.menu-open {
  display: block;
  position: relative;
  height: 30px;
  width: 30px;

  background-color: #434c6d;
  border: none;
  border-radius: 3px;

  span,
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);

    background-color: #fff;
    border-radius: 3px;
    transition: transform .3s;
  }

  &:before {
    top: 8px;
  }

  &:after {
    top: 20px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}