// Header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
  position: absolute;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #20c7a1;
}

.logo {
  a {
    display: block;
  }
}

.menu-open {
  display: none;
}

.menu {
  display: flex;
}

.menu__item {
  padding: 15px 10px;
  font-size: 24px;
  text-transform: capitalize;
}

.menu__link {
  display: block;
  transition: color .3s;
  &:hover {
    color: #FF0000;
  }
}