// About
.about {
  background-color: #434c6d;
  padding: 30px 0;
  color: #fff;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding: 40px 0 80px;
  }
}

.about__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.about-info {
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 2%;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    width: 25%;
  }
}


.about-info__text {
  font-size: 16px;
  color: #fff;

  @media screen and (min-width: 768px) {
    flex: 1 0 auto;
  }
}

.about-info__title {
  position: relative;
  padding-bottom: 20px;

  &:after {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #50e3c2;
  }
}

.about-info__link {
  font-size: 14px;
}

.about-info__img {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    min-height: 140px;
  }
}