@import "utils/styles/base/variables";
@import "utils/styles/base/include-media";
@import "utils/styles/base/mixins";

@import "utils/styles/vendors/normalize";
@import "utils/styles/vendors/breakpoints";
@import "utils/styles/vendors/typography";

html {
  line-height: 2;
  font-size: 20px;
}

body {
  font-family: "robotoRegular", Arial, sans-serif;
  min-width: 320px;
  color: $primary;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}