@import "utils/styles/base/variables";
@import "utils/styles/base/mixins";
@import "utils/styles/base/include-media";

@import "utils/styles/vendors/normalize";
@import "utils/styles/vendors/breakpoints";
@import "utils/styles/vendors/typography";

@import "app/components/Layout/header/header";
@import "app/components/Layout/footer/footer";
@import "app/components/Layout/index-about/index-about";
@import "app/components/Layout/index-contact/index-contact";

@import "app/routes/Content/content";
@import "app/routes/Contact/contact";
@import "app/routes/About/about";
//@import "app/components/Layout/visual/visual";


html {
  line-height: 2;
  font-size: 20px;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  color: $primary;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
